{% extends 'polls/base.html' %}

{% block content %}
<script type="text/javascript">
    $(function () {
        $('#run').click(function () {
            if (!confirm("実行します。よろしいですか？")) {
                return;
            }

            $("#output_result").html('')
            $('button').prop('disabled', true);
            var lastResLength = 0;
            var timer = null;

            var ajaxReq = $.ajax({
                type: 'GET',
                url: "{% url 'polls:win_powermng_zero' %}",
                data: '',
                dataType: 'html',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                processData: false,
                xhrFields: {
                    onloadstart: function () {
                        var xhr = this;
                        var resTextLength = 0
                        timer = setInterval(function () {
                            var textData = xhr.responseText;
                            var newTextData = textData.substring(resTextLength);

                            if (textData.length > resTextLength) {
                                newTextData.split("\n").forEach(function (element) {
                                    $("#output_result").html($("#output_result").html() + element);
                                    resTextLength = textData.length;
                                    var obj = document.getElementById('output_result');
                                    obj.scrollTop = obj.scrollHeight;
                                }, 100);
                            }
                        })
                    }
                }
            }).then(
                function (data, textStatus, jqXHR) {
                    /*成功*/
                    setTimeout(() => {
                        clearInterval(timer);
                    }, 1000);
                    $('button').prop('disabled', false);
                    alert(jqXHR.status + '：完了しました')
                },
                function (jqXHR, textStatus, errorThrown) {
                    /*失敗*/
                    setTimeout(() => {
                        clearInterval(timer);
                    }, 1000);
                    $('button').prop('disabled', false);
                    alert('失敗：' + jqXHR.status + '：' + textStatus)
                }
            );
        });
    });
</script>

<!-- Start Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" id="breadcrumblist">
        <li class="breadcrumb-item"><a title="to HomePage" href="{% url 'polls:index' %}"><i class="fa fa-home">HOME</i></a></li>
        <li class="breadcrumb-item active" aria-current="page">電源管理0設定</li>
    </ol>
</nav>
<!-- End Breadcrumb -->

<div class="container">
    <div class="row">
        <div class="col">
            <button id="run" type="button" class="btn btn-primary btn-lg btn-block">Play - 電源管理 ZERO 設定</button>
        </div>
    </div>
</div>
<div id="console" class="row bg-dark text-white h-100 m-0">
    <div class="col" id="output_result"
    style="height:500px;border: 1px solid #0004ff;font: 16px/26px Georgia, Garamond, Serif;overflow: auto;">
    </div>
</div>
{% endblock %}
