{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>社内DX実践インフラセットアップ業務の自動化</title>
    <!-- BootstrapのCSS読み込み -->
    <!-- <link href="{% static 'polls/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- jQuery -->
    <!-- <script src="{% static 'polls/js/jquery-3.6.0.min.js' %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrapを使用するためのscriptタグ設置 -->
    <!-- <script src="{% static 'polls/js/bootstrap.bundle.min.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
    <!-- パンくずリストの表示を整える。 -->
    <!-- Arrange the display of the breadcrumbs. -->
    <style>
        .breadcrumb{
            background-color: white;
        }
        .breadcrumb-item + .breadcrumb-item::before {
            content: ">";
        }
    </style>
</head>

<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>